/* ./styles/canvas.css */

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ensure canvases fill their parent container */
    height: 100%;
    display: block;
}



#canvas-env-weather {
	position: absolute;
  	z-index: 19;
}

#canvas-env-lighting {
	position: absolute;
    z-index: 18;
}

#canvas-env-specialized {
	position: absolute;
    z-index: 17;
}

#canvas-env-particle {
	position: absolute;
    z-index: 16;
}

#canvas-env-team {
	position: absolute;
  	z-index: 15;
}

#canvas-env-NPC {
	position: absolute;
    z-index: 14;
}

#canvas-env-interactables {
	position: absolute;
 	z-index: 13;
}

#canvas-env-terrain {
	position: absolute;
    z-index: 12;
}

#canvas-env-background {
	position: absolute;
    z-index: 10;
}