.dialog-container {
	background-image: url("../img/placeholder.png");
	width: 700px;
	height: 500px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.dialog-speaker {
	padding-left: 50px; 
	height: 25px;
	width: 100px;
}

.dialog-box {
	padding: 10px;
	height: 400px;
	width: 400px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.dialog-text {
	height: 200px;
	width: 300px;
}

.dialog-speaker-icon {
	height: 362px;
	width: 256px;
}